
// width
$content-desktop-largest      = 63%;

//
$post-eof-margin-top          = 40px; //  or 160px for more white space;
$post-eof-margin-bottom       = 20px; //  or 120px for less white space;

// 
$posts-expand-post-header     = 10px; //
